@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

body {
	font-family: "Poppins", sans-serif;
	padding: 0;
	margin: 0;
}

:root {
	--color-text-primary: #fff;
	--color-text-secondary: #ffffffcd;
	--color-text-tertiary: #ffffffa2;
	--color-text-error: rgb(144, 22, 22);
	--color-text-success: rgb(2, 199, 2);
	--color-border-primary: #ffffff50;

	--color-tab-bg: #00000030;
	--color-tab-hover-bg: #00000070;

	--color-bg-primary: #1d203e;
	--color-bg-secondary: #2c2f4860;
	--color-bg-tertiary: #1d203e7b;
	--color-bg-4: #2c3055;
	--color-success: rgb(21, 122, 21);

	--color-rad-center: #f7cbfd;
	--color-rad-outer: #7758d1;
	--color-rad-center2: #9a8ac9b5;
	--color-rad-outer2: #6750ad8a;

	--color-gradient-1: #a73ee7;
	--color-gradient-2: #00ebff;
	--color-gradient-3: #ff39a4;
}
